.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content_type_image {
  position: relative;
  padding: 0;
  background: transparent;
  max-width: 498px;
  max-height: 610px;
}

.modal__image {
  width: 100%;
  max-width: 498px;
  border-radius: 16px 16px 0 0;
  display: block;
  margin: 0 auto;
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.modal__footer {
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.modal__caption {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
}

.modal__delete-btn {
  color: #ff4d00;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
  flex-shrink: 0;
  margin: 0 0 12px 0;
  line-height: 24px;
}

.modal__delete-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__close {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__close-icon {
  width: 20px;
  height: 20px;
  display: block;
}
